body,blockquote,dd,dl,figure,form,p,pre,h1,h2,h3,h4,h5,h6{margin:0;}
menu,ul,ol{list-style:none; margin:0; padding:0;}
body{line-height:1.5; font-size:14px; color:#383838; background-color: #f5f5f5;}
body,h1,h2,h3,h4,h5,h6,input,button,select,textarea{font-size:14px; font-weight:normal;}
input[type="button"],input[type="submit"],input[type="reset"]{font-size:14px;}
body,input,button,select,optgroup,option,textarea,pre{font-family:Arial,Roboto,"Droid Sans","Hiragino Sans GB","Microsoft YaHei","Simsun",STXihei,"sans-serif";}
iframe{vertical-align:top;}
a{text-decoration:none; color:#383838;}
a:hover{text-decoration:none; color: #3da8f5;}
img{vertical-align:top;}
a img{border:0 none;}
i,em{font-style:normal;}
fieldset{margin:0; padding:0;}
legend{color:windowtext;}
button,input.ie6{overflow:visible; padding:.1em .25em; cursor:pointer;}
input[type="button"],input[type="submit"],input[type="reset"]{overflow:visible; padding:.1em .25em; cursor:pointer;}
select{border:1px inset;}
textarea{overflow:auto; vertical-align:text-bottom; *vertical-align:auto; border:1px solid; resize:vertical; outline:none;}
table{border-collapse:collapse; border-spacing:0;}
td,th,caption{padding:0;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#bfbfbf;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#bfbfbf;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#bfbfbf; }
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#bfbfbf;}
.clearfix:after{content:""; clear:both; height:0; display:block; visibility:hidden; font-size:0;}
.clearfix{height:1%;}
.w1200{width:1200px; margin:0 auto;}
.fleft{float: left;}
.fright{float: right;}

/* 头部 */
.topbox{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.wrapper{
  padding-top: 48px;
}
.header{
  height: 48px;
  border-bottom: 1px solid #d9d9d9;
  background-color: hsla(0,0%,100%,.95);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.logobox{
  font-size: 17px;
  line-height: 48px;
}
.logobox img{
  width: 32px;
  height: 32px;
  margin: 8px;
}
.userbox li{
  float: right;
  padding: 0 16px;
  line-height: 48px;
}
.userbox li .username{ 
  color: #3da8f5;
}  

/* 项目列表 */
.projectslist{
  width: 1200px;
  margin: 48px auto;
}
.project-title{
  font-size: 18px;
}
.project-item:hover{
  cursor: pointer;
}
.manager-addpro{
  text-align: center;
}  
.manager-addpro .m-addpro{
  background-color: #fff;
}
.manager-addpro .m-addpro .addicon{
  padding-top: 30px; 
}
/* 创建新项目 */
.createproject{
  width: 360px;
}
.dialogbox{
  width: 360px;
}

/* 任务详情 */
.taskwrap{
  /* background-color: #fff; */
}
.subheader{
  height: 50px;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f5f5f5;
  transition: right 218ms ease;
  padding: 0 16px;
  font-size: 16px;
}
.taskbox{ 
  /* display: flex; */
}
.taskbox .sidebox{
  width:300px;
  float: left;
}
.taskbox .mainbox{
  width:auto;
  margin-left: 300px;
}
.sidebox .toolbar{
  padding: 20px 10px;
}
.sidebox .tasklist{
  border: 1px solid rgba(0,0,0,.12);
  /* border: 1px solid #d9d9d9; */
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  
  background-color: #fff;
}

.taskinfo, .taskcont{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.mainbox{
  padding: 20px;
}
.taskinfo{
  position: relative;
}
.taskinfo .title{
  font-size: 18px;
}
.taskinfo .info span{
  color: grey;
  padding-right: 20px;
}
.taskinfo .cont{
  padding-top: 10px;
  line-height: 30px;
  font-size: 16px;
}
.taskinfo .infobtn{
  position: absolute;
  top: 20px;
  right: 20px;
}
.taskcont{
  margin-top:20px; 
}
.taskcont-list .itemhead{
  padding: 6px 0;
}
.taskcont-list .itemhead .itemspan{
  color: grey;
  padding-right: 10px; 
}
.taskcont-list .itemhead .time{
  padding-left: 10px;
}
.taskcont-list .itemtxt{
  font-size: 16px;
}
.taskcont-text{
 padding: 20px 0;
}
.taskcont-text .sentbtn{
  margin-left: 56px;
}
/* 创建任务 */
.createtask{
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,.0470588);
}
.createtask-form ul li .labelbox{
  display: inline-block;
  width: 200px;
  text-align: right;
  padding: 0 20px;
}
.createtask-form ul li.radiobox{
  height: 40px;
}
.createtask-form ul li.radiobox *{
  vertical-align: top;
}
.createtask-form ul li.note{
  padding-top: 16px;
}
.createtask-form ul li .labelnote {
  padding-top: 4px;
}
.createtask-form ul li.note *{
  vertical-align: top;
}
.createtask-radio{
  margin-right: 30px;
}
.createtask-form ul li .labelworker{
  padding-top: 9px
}
.createtask-btn{
  margin-left: 200px;
}

/* 全局管理员 */
.adm-wrapper{

}
.adm-sidebox{
  position: fixed;
  left: 0;
  width: 240px;
  top: 48px;
  bottom: 0;
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
}
.adm-mainbox{
  padding-left: 240px;
}
.adm-common{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,.0470588);
}
.adm-common .title{
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
}
.pagebox{
  padding: 20px; 
  position: relative;
  left: 25%;
}
.createtask-form ul li .labelbox.labelrole{
  vertical-align: text-bottom;
  line-height: 34px;
}
.createuser-form{
  padding-top: 20px;
}

/* 登录 */
.logintop{
  width: 100%;
  height: 190px;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}
.logintop .brand{
  position: absolute;
  width: 100%;
  bottom: 25px;
  text-align: center;
  font-size: 24px;
}
.loginform{
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 10px;
}
.loginbtn{
  margin-top: 20px;
}
.loginwrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.breadbox{
 
}
.breadspan{
  float: left;
  display: inline-block;
  height: 48px;
  line-height: 60px;
}

.logoutbtn{
  cursor: pointer;
}
.popup-default {
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 375px;
  background-color: #f4f4f5;
  color: #909399;
  }
  .popup-success {
  background-color: #f0f9eb;
  color: #67c23a;
  }
  
  .popup-error {
  background-color: #fef0f0;
  color: #f56c6c;
  }
  
  .popup-warning {
  background-color: #fdf6ec;
  color: #e6a23c;
  }
  
  .popup-info {
  background-color: #f4f4f5;
  color: #909399;
  }
  .download {
    color: #3da8f5
  }
  .mu-item-right{
    width:48px;
  }