<template>
	<div class="createtask">
		<div class="createtask-form">
			<ul>
				<li>
					<label class="labelbox">任务主题</label>
					<mu-text-field v-model="topic" hintText="请输入任务主题" />
				</li>
				<li>
					<label class="labelbox">截止日期</label>
					<mu-date-picker v-model="deadLine_date" hintText="请选择日期" />
				</li>
				<li>
					<label class="labelbox">截止时间</label>
					<mu-time-picker v-model="deadLine_time" hintText="请选择时间" format="24hr" />
				</li>
				<li class="radiobox">
					<label class="labelbox">优先级</label>
					<mu-radio label="普通" name="group" nativeValue="0" v-model="priority" class="createtask-radio" />
					<mu-radio label="紧急" name="group" nativeValue="1" v-model="priority" class="createtask-radio" />
					<mu-radio label="非常紧急" name="group" nativeValue="2" v-model="priority" class="createtask-radio" />
				</li>
				<li class="note">
					<label class="labelbox labelnote">备注</label>
					<mu-text-field v-model="remark" hintText="请输入备注信息" multiLine :rows="3" :rowsMax="6" />
				</li>
				<li>
					<label class="labelbox">上传文件</label>
					<mu-raised-button label="选择文件">
						<input type="file" class="file-button" @change="getFile($event)">
					</mu-raised-button>
					<!-- <input type="file" value="选择文件" /> -->
				</li>
				<li class="note">
					<label class="labelbox labelworker">执行人员</label>
					<mu-select-field v-model="executor" hintText="选择人员" :maxHeight="300">
						<mu-menu-item v-for="(item) in userList" :key="item._id" :title="item.name" :value="item._id" />
					</mu-select-field>
				</li>
				<li>
					<mu-raised-button @click="submit" :label="isUpdate?'更新':'确定'" primary class="createtask-btn" />
				</li>
			</ul>

			<br/>
		</div>
		<mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup">
			{{popup_message}}
		</mu-popup>
	</div>
</template>

<script>
import * as api from "../api";
import bus from "../assets/js/bus";
export default {
  data() {
    return {
	  userList: [],
	  _id:'',
      project: "",
      topic: "",
      remark: "",
      deadLine_date: "",
      deadLine_time: "",
      priority: "0",
      executor: "",
      file: "",
      topPopup: false,
      popup_message: "",
      popup_class: "",
      isUpdate: false
    };
  },
  computed: {},
  async mounted() {
    this.project = this.$route.query.project;
    await this.getUserList();
    let updateTask = JSON.parse(localStorage.getItem("updateTask"));
    if (updateTask) {
      console.log(updateTask);
	  let deadLine = new Date(updateTask.deadLine);
	  this._id = updateTask._id,
      (this.project = updateTask.project._id),
        (this.topic = updateTask.topic),
        (this.remark = updateTask.remark),
        (this.priority = updateTask.priority.toString()),
		(this.executor = updateTask.executor._id);
		let month = (deadLine.getMonth()+1).toString();
		if(month.length<2) month='0'+month;
		let date = (deadLine.getDate()).toString();
		if(date.length<2) date='0'+date;
		let hours = (deadLine.getHours()).toString();
		if(hours.length<2) hours='0'+hours;
		let minutes = (deadLine.getMinutes()).toString();
		if(minutes.length<2) date='0'+minutes;
      this.deadLine_date =
        deadLine.getFullYear() +
        "-" +
        month +
        "-" +
        date
      this.deadLine_time =hours + ":" + minutes
      this.isUpdate = true;
      localStorage.removeItem("updateTask");
    }
  },
  methods: {
    getUserList: async function() {
      let res = await api.user.listUser();
      this.userList = res.data.list;
    },
    getFile: function(event) {
      this.file = event.target.files[0];
      console.log(this.file);
    },
    submit: async function() {
      let task_add = {
        project: this.project,
        topic: this.topic,
        deadLine: new Date(this.deadLine_date + " " + this.deadLine_time),
        priority: parseInt(this.priority),
        executor: this.executor,
        remark: this.remark
      };
      let task_update = {
        topic: this.topic,
        deadLine: new Date(this.deadLine_date + " " + this.deadLine_time),
        priority: parseInt(this.priority),
        executor: this.executor,
        remark: this.remark
	  };
	  console.log(task_update.priority)
	  let res;
      if (this.isUpdate) {
        res = await api.task.updateTask(this._id,task_update);
        if (res.status !== 200) {
          return this.showPopup("操作失败：" + res.data.message, "popup-error");
        }
	  }
	  if(!this.isUpdate){
		  
      res = await api.task.addTask(task_add);
      if (res.status !== 201) {
        return this.showPopup("操作失败：" + res.data.message, "popup-error");
	  }
	  this._id = res.data._id
	  }
	  
      if (this.file && this.file != "")
    	await api.task.uploadFile(this._id, this.file);
      this.showPopup("操作成功：" + res.data.message, "popup-success");
      this.$router.push({
        path: "/taskContent",
        query: {
          project: this.project,
          task:this._id
        }
      });
      bus.$emit("taskAdd", "a task added");
    },
    showPopup(msg, type) {
      this.popup_message = msg;
      this.popup_class = type;
      this.topPopup = true;
    }
  },
  topPopup(val) {
    if (val) {
      setTimeout(() => {
        this.topPopup = false;
      }, 2000);
    }
  }
};
</script>
<style>
.file-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
</style>
