<template>
	<div class="createproject">
		<mu-dialog class="dialogbox" :open="true" :title="isUpdate?'更新项目':'创建新项目'" @close="close">
			<mu-text-field v-model="name" label="项目名称" labelFloat/><br/>
			<mu-text-field v-model="desc" label="项目简介（选填）" labelFloat/><br/>

			<!-- <mu-text-field hintText="项目简介（选填）" multiLine :rows="3" :rowsMax="6" labelFloat/><br/> -->

			<mu-flat-button slot="actions" @click="close" primary label="取消" />
			<mu-flat-button slot="actions" primary @click="addOrUpdateProject" label="确定" />
		</mu-dialog>
	
	</div>
</template>

<script>
import * as api from '../api'
import bus from '../assets/js/bus'
export default {
	data() {
		return {
			name:'',
			desc:'',
			projectId:"" ,
			isUpdate:false,
		}
	},
	computed: {
		
	},
	mounted() {
		let updateProject = JSON.parse(localStorage.getItem('openUpdateProject'))
		if(updateProject){
			this.isUpdate = true;
			this.name=updateProject.name
			this.desc=updateProject.desc
			this.projectId = updateProject._id
			localStorage.removeItem('openUpdateProject')
		}
	},
	methods: {
		close() {
			this.$emit("closeCreatePro",false)
		},
		addOrUpdateProject:async function(){	
		let msg = {
			topPopup:true,
			popup_message :'',
			popup_class:'popup-success'
		}
		let project={
			name:this.name,
			desc:this.desc
		}
		if(project.name===''){
			msg.popup_class='popup-error'
			msg.popup_message='项目名称不能为空'
			return this.$emit('popup',msg)
		}
		if(this.isUpdate){
		let res = await api.project.updateProject(this.projectId,project);
		if(res.status!=200){
			msg.popup_class='popup-error'
			msg.popup_message=res.data.message;
			
			return this.$emit('popup',msg)
			
		}
			msg.popup_message=res.data.message;
		this.$emit('popup',msg)
		this.$emit('projectUpdate','a project update')
		return this.$emit("closeCreatePro",false)
		}
		let res = await api.project.addProject(project);
		if(res.status!=201){
			msg.popup_class='popup-error'
			msg.popup_message=res.data.message;
			return this.$emit('popup',msg)
		}
		msg.popup_message='操作成功:'+res.data.message;
		this.$emit('popup',msg)
		this.$emit('projectAdd','a project added')
		this.$emit("closeCreatePro",false)
		}
	},
	
}

</script>