<template>
  <div class="loginwrap">
    <div class="logintop">
      <div class="brand">任务管理系统</div>
    </div>
    <div class="loginform">
      <mu-text-field label="E-mail" :errorText="account_error" @focus="handel_account_focus" @input="handel_account_input" v-model="account" hintText="账户名／邮箱／手机" labelFloat fullWidth /><br/>


      <mu-text-field label="密码" type="password" :errorText="password_error" @focus="handel_password_focus" @input="handel_password_input"  v-model="password" labelFloat fullWidth /><br/>

      <mu-raised-button class="loginbtn" label="登录" primary fullWidth @click="LoginFun" />
      <mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup" >
        {{popup_message}}
    </mu-popup>
    </div>
  </div>
</template>

<script>
import * as api from "../api";
export default {
  data() {
    return {
      
      account: "",
      password: "",
      account_error: "",
      password_error: "",
      topPopup: false,
      popup_message:"",
      popup_class:'',
    };
  },
  computed: {},
  mounted() {
     let noLogin_message = localStorage.getItem('noLogin_message');
    if(!noLogin_message|| noLogin_message==='') return;
    this.popup_message=noLogin_message;
        this.popup_class = 'popup-error';
        localStorage.removeItem('noLogin_message')
        return this["topPopup"] = true;
  },
  methods: {
    handel_account_focus: function() {
      if (this.account === "") return (this.account_error = "请输入账号");
    },
    handel_account_input: function(value) {
      if (value === "") return (this.account_error = "请输入账号");
      else return (this.account_error = "");
    },
    handel_password_focus: function() {
      if (this.password === "") return (this.password_error = "请输入密码");
    },
    handel_password_input: function(value) {
      if (value === "") return (this.password_error = "请输密码");
      else return (this.password_error = "");
    },

    LoginFun: async function() {
      let password = this.password;
      let account = this.account;
      if (password === "" || account === ""){
        if (account === "") return (this.account_error = "账号不能为空");
        if (password === "") return (this.password_error = "密码不能为空");
      }
      let res = await api.internal.login({account:account,password:password});
      //登录失败
      if (res.status !== 200&&!res.data.token) {
        this.popup_message=res.data.message;
        this.popup_class = 'popup-error';
        return this["topPopup"] = true;
        //登录成功
      } else {
        //保存token
        localStorage.setItem('myToken', res.data.token);
        //访问个人数据
        let profile_res = await api.internal.getProfile();
        if(profile_res.status!==200){
        this.popup_message='服务器出错';
        this.popup_class = 'popup-error';
        return this["topPopup"] = true;
        }
        localStorage.setItem('myProfile',JSON.stringify(profile_res.data));
        this.$router.push("/index");
      }
    }
  },
  watch: {
    topPopup(val) {
      if (val) {
        setTimeout(() => {
          this.topPopup = false;
        }, 2000);
      }
    }
  }
};
</script>
<style lang="css">
.demo-popup-top {
  width: 100%;
  opacity: 0.8;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 375px;
}


</style>