<template>
	<div class="projectslist">
		<div class="gridlist-demo-container">
			<mu-grid-list :cols="4" :padding="28" class="gridlist-demo">
				<mu-sub-header class="project-title">我拥有的项目</mu-sub-header>
				
				
					<mu-grid-tile  v-for="tile in list" :key="tile._id" class="project-item">
						<img src="static/project01.png" @click="toTaskList(tile._id)"/>
						<span slot="title" @click="toTaskList(tile._id)">{{tile.name}}</span>
						<span slot="subTitle" @click="toTaskList(tile._id)">by
							<b>{{tile.creator.name}}</b>
						</span>
						<mu-icon-button icon="star_border" slot="action" @click="toTaskList"/>
				 </mu-grid-tile>
				
				<!-- 管理员才能看 -->	
					<mu-grid-tile v-if="isAdmin" class="project-item manager-addpro" >
					<div class="m-addpro" @click="openCreateProject" >
						<p class="addicon">
							<mu-icon value="control_point" color="#a6a6a6" :size="36" />
						</p>
					</div>
					<span slot="title">创建新项目</span>
					<span slot="subTitle">
						管理员
					</span>
				</mu-grid-tile>
			</mu-grid-list>
		</div>
		<create-project v-on:projectAdd="projectAdd" v-on:popup="sub_popup" v-on:closeCreatePro="closeCreateProject" v-if="flag"></create-project>
		<mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup" >
        {{popup_message}}
    </mu-popup>
	</div>
	
</template>

<script>
import createProject from './createProject'
import * as api from '../api'
import bus from '../assets/js/bus'
export default {
	components:{
		createProject
	},
	data() {
		return {
			flag:false,
			list: [
				{
				name: '',
				creator: {
					name:''
				},
				//featured: true
			} 
			],
			isAdmin:true,
			 topPopup: false,
      popup_message:"",
      popup_class:'',


		}
	},
	computed: {

	},
	
	methods: {
		projectAdd:function(){
			this.getProjectList()
		},
		sub_popup:function(msg){
		this.popup_message=msg.popup_message;
        this.popup_class = msg.popup_class;
    	this.topPopup = msg.topPopup;
		},
		openCreateProject: function(){
			this.flag = true;
		},
		closeCreateProject: function(data){
			this.flag = data;
		},
		toTaskList:function(project_id){
			let query = {
				project: project_id,
				label:""
			}
      this.$router.push({path:"/taskList",query:query})
	},
	getProjectList:async function(){
		let res = await api.project.listProject();
		this.list=res.data.list;
	}


	},
	mounted() {
		let roleName = JSON.parse(localStorage.getItem('myProfile')).role.name
		if(roleName=='user') this.isAdmin=false
		this.getProjectList();
	},
	watch: {
    topPopup(val) {
      if (val) {
        setTimeout(() => {
          this.topPopup = false;
        }, 2000);
      }
    }
  }
}

</script>
<style>
.gridlist-demo-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gridlist-demo {
	width: 1200px;
	height: auto;
	overflow-y: auto;
}
</style>