<template>
  <div class="taskContent">
    <div class="taskinfo">
      <h3 class="title">任务主题：{{taskTopic}}</h3>
      <p class="info">
        <span>发布者：{{creatorName}}</span>
        <span>{{deadLine|timeFilter}} 截止 </span>
        <mu-badge primary :content="priority_arr[task_priority]" slot="right" />
        <br>
        <span>执行者：{{executorName}}</span>
      </p>
      <p class="cont">{{taskRemark}} </p>
      <a v-if="hasFile" :href="'/storage/'+taskFile" class="download">下载附件</a>
      <div class="infobtn">
        <mu-raised-button v-if="isAdmin" label="上传文件">
						<input type="file" class="file-button" primary @change="getFileAndUpload($event)">
					</mu-raised-button>
        <mu-raised-button v-if="noComplete&&isAdmin" label="已完成" @click="open_dialog('complete')" primary/>
        <mu-raised-button v-if="isRootAdmin" label="更变状态" @click="open_dialog('label')" primary/>
        <mu-raised-button v-if="isRootAdmin" label="编辑" @click="toUpdateTask(thisTask)" primary/>
        <mu-raised-button v-if="isAdmin||isRootAdmin" label="删除" @click="open_dialog('delete')" secondary/>
      </div>
      <mu-dialog :open="label_dialog" title="更变状态" @close="cancel_dialog">
         <mu-menu>
      <mu-menu-item title="沟通中" @click="updateLabel('沟通中')"/>
      <mu-menu-item title="已完成" @click="updateLabel('已完成')"/>
    </mu-menu>
        <mu-flat-button slot="actions" @click="cancel_dialog" primary label="取消" />
      </mu-dialog>
      <mu-dialog :open="complete_dialog" title="完成确认" @close="cancel_dialog">
        确定将任务"{{taskTopic}}"标记为完成?
        <mu-flat-button slot="actions" @click="cancel_dialog" primary label="取消" />
        <mu-flat-button slot="actions" primary @click="completeTask(taskId)" label="确定" />
      </mu-dialog>
      <mu-dialog :open="delete_dialog" title="删除确认" @close="cancel_dialog">
        确定删除任务:{{taskTopic}}？
        <mu-flat-button slot="actions" @click="cancel_dialog" primary label="取消" />
        <mu-flat-button slot="actions" primary @click="deleteTask(taskId)" label="确定" />
      </mu-dialog>
    </div>
    <!-- taskinfo end-->
    <div class="taskcont">
      <div class="taskcont-list">
        <mu-content-block v-for="chat in chatList" :key="chat._id">
          <div class="itemhead">
            <span class="itemspan">{{chat.userName}}</span>
            <mu-badge primary :content="roleName_arr[role_arr.indexOf(chat.roleName)] " />
            <span class="itemspan time">{{chat.createAt|timeFilter}}</span>
          </div>
          <div class="itemtxt">{{chat.text}}</div>
        </mu-content-block>

      </div>
      <!-- taskcont-list end-->
      <div class="taskcont-text">
        <mu-text-field hintText="请输入回复内容" v-model="msg" multiLine :rows="3" :rowsMax="6" fullWidth icon="comment" />
        <mu-raised-button label="发送" @click="sendMsg(msg)" class="sentbtn" primary/>

      </div>
      <mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup" >
        {{popup_message}}
    </mu-popup>
      <!-- taskcont-text end-->

    </div>
    <!-- taskcont end-->
  </div>

</template>

<script>
import * as api from "../api";
import bus from '../assets/js/bus'
import io  from '../assets/js/socket.io'
export default {
  data() {
    return {
      thisTask:{},
      projectId:'',
      taskId: "",
      noComplete:true,
      taskLabel:"",
      taskFile:'',
      taskTopic: "加载中...",
      creatorName: "加载中...",
      executorName: "加载中...",
      deadLine: "加载中...",
      taskRemark: "加载中",
      task_priority: 0,
      priority_arr: ["普通", "紧急", "非常紧急"],
      chatList: [],
      delete_dialog: false,
      complete_dialog: false,
      label_dialog:false,
      topPopup: false,
      popup_message:"",
      popup_class:'',
      role_arr:['rootadmin','admin','user'],
      roleName_arr:['全局管理员','普通管理员','普通用户'],
      msg:"",
      isAdmin:true,
      isRootAdmin:true,
      hasFile:false,
      changeLabel:'',
      file:'',
    };
  },
  computed: {},
  async mounted() {
    let roleName = JSON.parse(localStorage.getItem('myProfile')).role.name
    if(roleName!='admin') this.isAdmin=false
    if(roleName!="rootadmin") this.isRootAdmin = false
    this.projectId=this.$route.query.projectId
    let _this = this;
    bus.$on('taskChange',async (taskId)=>{
      _this.taskId = taskId;
    await _this.getTask(taskId);
    _this.getChatList(taskId);
    if(_this.taskLabel==='已完成')
    _this.noComplete = false;
    else _this.noComplete = true;
    })
    this.taskId = this.$route.query.task;
   await  this.getTask(this.taskId);
   if(this.taskFile!=='') this.hasFile=true;
    this.getChatList(this.taskId);
    this.syncChat()
  },
  methods: {
    syncChat(){
      let socket = io.connect(":3000")
      let _this = this
      socket.on('task/'+_this.taskId,function(msg){
        _this.getChatList(_this.taskId);
      })
    },
    getTask: async function(taskId) {
      let res = await api.task.getTask(taskId);
      this.thisTask=res.data
      this.taskTopic = res.data.topic;
      this.task_priority = res.data.priority;
      this.creatorName = res.data.creator.name;
      this.executorName = res.data.executor.name;
      this.taskRemark = res.data.remark;
      this.deadLine = res.data.deadLine;
      this.taskLabel = res.data.label;
      this.taskFile = res.data.file?res.data.file:'';
      if(res.data.taskLabel=='已完成')
      this.noComplete = false;
    },
     getFileAndUpload: async function(event) {
      this.file = event.target.files[0];
      console.log(this.file);
      let res = await api.task.uploadFile(this.taskId, this.file);
      if(res.status!==201){
         return this.showPopup('操作失败：'+res.data.message,'popup-error')
      }
      this.getTask(this.taskId);
      this.hasFile=true;
      return this.showPopup('操作成功：'+res.data.message,'popup-success')
    },
    getChatList: async function(taskId) {
      let query = {
        task: taskId
      };
      let res = await api.chat.listChat(query);
      this.chatList = res.data.list;
    },
    deleteTask: async function(taskId) {
       this.delete_dialog = false;
      let res = await api.task.deleteTask(taskId);
      if(res.status!==200){
       return this.showPopup('操作失败：'+res.data.message,'popup-error')
        }else{
           this.showPopup('操作成功：'+res.data.message,'popup-success')
          bus.$emit('delete','some task delete')
         this.$router.push({
           path:'/taskList',
           project:this.projectId
         })
        }
    },
    completeTask: async function(taskId) {
      this.complete_dialog = false;
      let body={
        label:'已完成'
      }
      let res = await api.task.updateTask(taskId,body);
      if(res.status!==200){
       return this.showPopup('操作失败：'+res.data.message,'popup-error')
        }else{
           this.showPopup('操作成功：'+res.data.message,'popup-success')
        bus.$emit('complete','some task complete')
        this.getTask(this.taskId);
        this.getChatList(this.taskId);
        this.noComplete=false;
        }
    },
    updateLabel:async function(label){
  this.label_dialog = false;
      let body={
        label:label
      }
      let res = await api.task.updateTask(this.taskId,body);
      if(res.status!==200){
       return this.showPopup('操作失败：'+res.data.message,'popup-error')
        }else{
           this.showPopup('操作成功：'+res.data.message,'popup-success')
        bus.$emit('update','some task complete')
        this.getTask(this.taskId);
        this.getChatList(this.taskId);
        }
    },
    open_dialog: function(which) {
      if(which === 'delete')return this.delete_dialog = true;
      if(which === 'complete')return this.complete_dialog = true;
      if(which === 'label')return this.label_dialog = true;
    },
    cancel_dialog: function() {
      if(this.complete_dialog)return this.complete_dialog = false;
      if(this.delete_dialog) return this.delete_dialog = false;
      if(this.label_dialog) return this.label_dialog = false;
    },
    sendMsg:async function(msg){
      if(msg ===''||!msg){
       return this.showPopup('输入消息不能为空','popup-error')
      }
      let body = {
        task:this.taskId,
        text:msg
      }
      let res = await api.chat.addChat(body)
      if(res.status!==201){
        return this.showPopup('操作失败：'+res.data.message,'popup-error')
        }else{
          this.showPopup('操作成功：'+res.data.message,'popup-success')
        this.msg=''
        this.getChatList(this.taskId);
        }
    },
    toUpdateTask(thisTask){
      localStorage.setItem('updateTask',JSON.stringify(thisTask))
      this.$router.push({
        path:'/createTask'
      })
    },
     showPopup(msg, type) {
      this.popup_message = msg;
      this.popup_class = type;
      this.topPopup = true;
    }
  },
   watch: {
    topPopup(val) {
      if (val) {
        setTimeout(() => {
          this.topPopup = false;
        }, 2000);
      }
    }
  }
};
</script>