<template>
	<div class="taskwrap">
		<mu-flexbox class="subheader">
			<mu-flexbox-item>
				<div class="breadbox">
				<div class="breadspan"> <router-link to="/index">项目  ></router-link> </div>
				<mu-dropDown-menu :value="projectId" @change="handleChange">
					<mu-menu-item v-for="item in projectList" :key="item._id" :value="item._id" :title="item.name"/>
				</mu-dropDown-menu>

				</div>
				
				<!-- <mu-breadcrumb>
					<mu-breadcrumb-item href="/">项目</mu-breadcrumb-item>
					<mu-breadcrumb-item>L170项目</mu-breadcrumb-item>
				</mu-breadcrumb> -->
			</mu-flexbox-item>
			<mu-flexbox-item>
				<mu-flat-button v-if="isUser" @click="goCreateTask" class="fright" label="添加任务" icon="description" primary/>
			</mu-flexbox-item>
		</mu-flexbox>
		<div class="taskbox">
			<!-- 侧边栏 -->
			<div class="sidebox">
				<div class="toolbar">
					<mu-chip backgroundColor="#2196f3" @click="chanegLabel('')" color="#fff">全部 </mu-chip>
					<mu-chip backgroundColor="#2196f3" @click="chanegLabel('沟通中')" color="#fff">沟通中 </mu-chip>
					<mu-chip backgroundColor="#2196f3" @click="chanegLabel('已完成')" color="#fff">已完成 </mu-chip>
					<mu-chip backgroundColor="#2196f3" @click="chanegLabel('超时')" color="#fff">超时 </mu-chip>
				</div>
				<div class="tasklist">
					<!-- <mobile-tear-sheet> -->
  					<mu-list>
    					<mu-list-item v-for="task in taskList" :key="task._id" @click="sendMsgToContent(task._id)" :to="{path:'/taskContent',query:{project:task.project._id,task:task._id,label:label}}" :title="task.topic" :describeText="task.createAt|timeFilter">
      					<mu-icon slot="left" value="inbox"/>
								<mu-badge primary :content="task.label" slot="right"/>
								<!-- <mu-icon value="info" slot="right"/> -->
    					</mu-list-item>
    				
  					</mu-list>
					<!-- </mobile-tear-sheet> -->
				</div><!--tasklist end-->
			</div>

			<!-- 主要内容 -->
			<div class="mainbox">
				<router-view></router-view>				
			</div>
		</div>
	</div>
</template>

<script>
import * as api from "../api";
import bus from '../assets/js/bus'
export default {
  data() {
    return {
      projectList: [
        {
          name: "加载中...",
          _id: "1"
        }
      ],
      projectId: "1",
	  taskList: [],
	  label:"",
		isUser:true,
    };
  },
  computed: {},
  async mounted() {
		let roleName = JSON.parse(localStorage.getItem('myProfile')).role.name
    if(roleName =='user') this.isUser=false

	  this.label = this.$route.query.label;
	  let _this = this;
	  bus.$on('complete',function(msg){
		  console.log('kown some task complete')
		  _this.getTaskList(_this.projectId);
	  })
	  bus.$on('delete',function(msg){
		  console.log('kown some task delete')
		  _this.getTaskList(_this.projectId);
	  })
	   bus.$on('taskAdd',function(msg){
		  console.log('kown a task added')
		  _this.getTaskList(_this.projectId);
	  })
	  bus.$on('update',function(msg){
		  console.log('kown a task update')
		  _this.getTaskList(_this.projectId);
	  })
    await this.getProjectList();
    await this.getTaskList(this.projectId);
  },
  methods: {
    getTaskList: async function(projectId) {
      let query = {
		project: projectId,
		label:this.label
      };
      let res = await api.task.listTask(query);
      this.taskList = res.data.list;
    },
    getProjectList: async function() {
      let res = await api.project.listProject();
      this.projectList = res.data.list;
      this.projectId = this.$route.query.project;
    },
    goCreateTask: function() {
      this.$router.push({
		path: "createTask",
		query:{
			project:this.$route.query.project
		}
      });
    },
    handleChange(projectId) {
      this.projectId = projectId;
      this.$router.push({
        name: "taskList",
        query: { project: projectId }
      });
      this.getTaskList(this.projectId);
	},
	sendMsgToContent:function(id){
		bus.$emit('taskChange',id)
	},
	chanegLabel:function(label){
		this.label=label;
		this.$router.push({
			path:'/taskList',
			query:{
				project:this.projectId,
			label:this.label
			}
		})
		this.getTaskList(this.projectId)
	}
  }
};
</script>