<template>
  <mu-flexbox class="header">
    <mu-flexbox-item>
      <div class="logobox">
        <router-link to="/index"><img src="../assets/images/logo.png"> 任务管理系统</router-link>
        
      </div>
    </mu-flexbox-item>
    <mu-flexbox-item>
      <ul class="userbox" v-if=" $route.path != '/login' ">
        <li @click="logoutFun">
          <mu-badge class="logoutbtn" content="退出登录" slot="after" />
        </li>
        <li v-if="isAdmin" @click="goToAdmin">
            <mu-badge class="logoutbtn" content="前往后台管理" slot="right" />
          </li>
        <li>
          <mu-badge :content="roleName" primary slot="right" />
        </li>
        <li>欢迎您！
          <em class="username">{{name}}</em> {{department}}</li>
          
      </ul>
    </mu-flexbox-item>
  </mu-flexbox>
</template>

<script>
import * as api from "../api"
export default {
  data() {
    return {
      name:'加载中...',
      department:'加载中...',
      roleName:"加载中...",
      role_arr:['rootadmin','admin','user'],
      roleName_arr:['全局管理员','普通管理员','普通用户'],
      isAdmin:false
    }
  },
  computed: {

  },
  mounted() {
    let profile = JSON.parse(localStorage.getItem('myProfile'))
    if(profile.role.name==='rootadmin') this.isAdmin=true;
    console.log("路由是" + this.$route.path)
    let user = JSON.parse(localStorage.getItem('myProfile'))
    let roleName;
    try {
      roleName = this.roleName_arr[this.role_arr.indexOf(user.role.name)]
    } catch (error) {
      roleName = null;
    }
    this.name = user.name?user.name:'未知的名字'
    this.department = user.department?user.department:"未知的部门"
    this.roleName = roleName?roleName:"未知角色"
  },
  methods: {
    logoutFun: async function() {
     await api.internal.logout();
      localStorage.removeItem('myToken')
      localStorage.removeItem('myProfile')
      this.$router.push({ path: "/login" })
    },
    goToAdmin:function(){
      this.$router.push({
        path:'/admin'
      })
    }
  }
}

</script>