<template>
	<div class="layout">
		<div class="topbox">
			<v-header></v-header>
		</div>
		<div class="wrapper">
			<transition name="fade" mode="out-in">
				<router-view></router-view>
			</transition>
		</div>

	</div>
</template>

<script>
import vHeader from './header.vue';

export default {
	components: {
		vHeader
	},
	data() {
		return {


		}
	},
	computed: {

	},
	mounted() {

	},
	methods: {


	}
}

</script>