<template>
  <div class="adm-wrapper">
    <div class="adm-sidebox">
      <mu-list :value="value" @change="handleChange">
        <mu-list-item :value="1" title="权限管理" toggleNested>
          <mu-icon slot="left" value="inbox" />
          <mu-list-item  to="userList" :value="2" slot="nested" title="人员列表" inset>
          </mu-list-item>
          <mu-list-item to="createUser" :value="3" slot="nested" title="添加人员" inset>
          </mu-list-item>
        </mu-list-item>

        <mu-list-item :value="4" title="项目管理" toggleNested>
          <mu-icon slot="left" value="inbox" />
          <mu-list-item to="projectList" :value="5" slot="nested" title="项目列表" inset>
          </mu-list-item>
        </mu-list-item>
      </mu-list>
    </div>
    <!-- adm-sidebox end -->
    <div class="adm-mainbox">
      <router-view></router-view>

    </div>
    <!-- adm-sidebox end -->

  </div>
</template>

<script>

export default {
  data() {
    return {
      value: 1


    }
  },
  computed: {

  },
  mounted() {

  },
  methods: {
    handleChange(val) {
      this.value = val
    }

  }
}

</script>