<template>
  <div class="adm-common">
    <h3 class="title">添加人员</h3>
    <div class="createtask-form createuser-form">
      <ul>
        <li>
          <label class="labelbox">名字</label>
          <mu-text-field v-model="name"  hintText="请输入用户名" />
        </li>
        <li>
          <label class="labelbox">E-mail</label>
          <mu-text-field v-model="email"  hintText="请输入E-mail" />
        </li>
         <li>
          <label class="labelbox">设置密码</label>
          <mu-text-field v-model="password"  hintText="请输入设置密码" />
        </li>
        <!-- <li>
          <label class="labelbox">确认密码</label>
          <mu-text-field  hintText="请输入确认密码" />
        </li> -->
        <li>
          <label class="labelbox">所属部门</label>
          <mu-text-field v-model="department"  hintText="请输入所属部门" />
        </li>

        <li>
          <label class="labelbox labelrole">角色选择</label>
          <mu-select-field v-model="role" hintText="选择角色选择" :maxHeight="300">
            <mu-menu-item v-for="(item) in roleList" :key="item._id" :title="item.name" :value="item._id" />
          </mu-select-field>
        </li>
        <li>
          <mu-raised-button @click="submit" :label="isUpdate?'更新':'添加'" primary class="createtask-btn" />
          <mu-raised-button @click="cancelSubmit" label="取消" primary class="createtask-btn" />
        </li>
      </ul>

      <br/>
       <mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup" >
        {{popup_message}}
    </mu-popup>
    </div>
  </div>
</template>

<script>
import * as api from '../../api'
export default {
  data() {
    
    return {
      roleList:[],
      role:'',
      name:'',
      email:'',
      password:'',
      department:'',
      isUpdate:false,
      topPopup: false,
      popup_message:"",
      popup_class:'',
      userId:'',
    }
  },
  computed: {

  },
  async mounted() {
    await this.getRoleList();
    this.userId = this.$route.query._id;
    if(this.userId) {
      this.isUpdate = true
      await this.getUser()
    }
    
  },
  methods: {
    async getRoleList(){
      let res = await api.role.listRole();
      this.roleList=res.data.list
    },
    async getUser(){
      let res = await api.user.getUser(this.userId);
      let user = res.data
      this.name = user.name,
      this.password = user.password,
      this.role = user.role._id,
      this.email = user.email,
      this.department = user.department
    },
    async submit(){
      if(!this.name||this.name==='') return this.showPopup('名字不能为空','popup-error')
      if(!this.password||this.password==='') return this.showPopup('密码不能为空','popup-error')
      if(!this.role||this.role==='') return this.showPopup('未选择角色','popup-error')
       let body={
          name:this.name,
          password:this.password,
          role:this.role,
          department:this.department,
          email:this.email,
        }
      if(this.isUpdate){
        let res = await api.user.updateUser(this.userId,body)
        if(res.status!==200){
          return this.showPopup('操作失败：'+res.data.message,'popup-error')
        }
        localStorage.setItem('msg','操作成功：'+res.data.message)
        return this.$router.push({
          path:"/admin/userList"
        })
      }
        let res = await api.user.addUser(body)
        if(res.status!==201){
          return this.showPopup('操作失败：'+res.data.message,'popup-error')
        }
        localStorage.setItem('msg','操作成功：'+res.data.message)
        return this.$router.push({
          path:"/admin/userList"
        })
    },
    showPopup(msg,type){
       this.popup_message=msg;
        this.popup_class = type;
        this.topPopup = true;
    },
    cancelSubmit(){
      return this.$router.push({
          path:"/admin/userList"
        })
    }

  },
   watch: {
    topPopup(val) {
      if (val) {
        setTimeout(() => {
          this.topPopup = false;
        }, 1000);
      }
    }
  }
}

</script>