<template>
  <div class="userlist adm-common">
    <h3 class="title">项目列表</h3>
    <mu-table :showCheckbox="false">
      <mu-thead slot="header">
        <mu-tr>
          <mu-th tooltip="ID">序号</mu-th>
          <mu-th tooltip="添加时间">创建时间</mu-th>
          <mu-th tooltip="添加时间">创建人</mu-th>
          <mu-th tooltip="任务主题">项目名称</mu-th>
          <mu-th tooltip="状态">项目描述</mu-th>
          <mu-th tooltip="操作">操作</mu-th>
        </mu-tr>
      </mu-thead>
      <mu-tbody>
        <mu-tr v-for="(item,index) in projectList" :key="item._id">
          <mu-td>{{index + 1}}</mu-td>
          <mu-td>{{item.createAt|timeFilter}}</mu-td>
          <mu-td>{{item.creator.name}}</mu-td>
          <mu-td>{{item.name}}</mu-td>
          <mu-td>{{item.desc}}</mu-td>
          <mu-td>
            <mu-chip @click="openCreateProject(item._id,item.name,item.desc)" backgroundColor="#2196f3" color="#fff">
              修改
            </mu-chip>
            <mu-chip @click="toTaskList(item._id)" backgroundColor="#2196f3" color="#fff">
              查看
            </mu-chip>
              <mu-chip @click="open_dialog(item._id,item.name)" backgroundColor="#ff4081" color="#fff">
              删除
            </mu-chip>
            <mu-dialog :open="delete_dialog" title="删除确认" @close="cancel_dialog">
        确定删除项目:{{selectProjectName}}？
        <mu-flat-button slot="actions" @click="cancel_dialog" primary label="取消" />
        <mu-flat-button slot="actions" primary @click="deleteProject(selectProjectId)" label="确定" />
      </mu-dialog>

          </mu-td>
        </mu-tr>
      </mu-tbody>
    </mu-table>
    <div class="pagebox">
      <mu-pagination :total="total" :showSizeChanger="true" :current="current" :pageSizeOption="pageSizeOption"  @pageSizeChange='changePageSize' @pageChange="changePage" class="page">
      </mu-pagination>
    </div>
    <mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup" >
        {{popup_message}}
    </mu-popup>
    <create-project v-on:projectUpdate="projectUpdate" v-on:popup="sub_popup" v-on:closeCreatePro="closeCreateProject" v-if="flag"></create-project>
  </div>
</template>

<script>
import createProject from '../createProject'
import * as api from '../../api'
import bus from '../../assets/js/bus'
export default {
  components:{
		createProject
	},
  data() {
    return {
      flag:false,
      total: 10,
      current: 1,
      pageSize: 2,
      pageSizeOption: [ 5, 10, 15,20],
      projectList: [],
      delete_dialog: false,
      selectProjectName: "",
      selectProjectId: "",
      topPopup: false,
      popup_message: "",
      popup_class: "",

    }
  },
  computed: {

  },
  mounted() {
    this.getProjectList();
  },
  methods: {
    projectUpdate:function(){
      console.log(1234)
			this.getProjectList()
		},
    sub_popup:function(msg){
		  this.popup_message=msg.popup_message;
      this.popup_class = msg.popup_class;
    	this.topPopup = msg.topPopup;
		},
    openCreateProject: function(id,name,desc){
      this.flag = true;
      let body={
        _id:id,
        name:name,
        desc:desc
      }
      localStorage.setItem('openUpdateProject',JSON.stringify(body))
    },
    closeCreateProject: function(data){
			this.flag = data;
		},
     open_dialog: function(id, name) {
      this.delete_dialog = true;
      this.selectProjectName = name;
      this.selectProjectId = id;
    },
    cancel_dialog: function() {
      if (this.delete_dialog) return (this.delete_dialog = false);
    },
    async changePage(newPage) {
      this.current = newPage;
      let query = {
        size: this.pageSize,
        page: this.current
      };
      let res = await api.project.listProject(query);
      this.projectList = res.data.list;
      this.total = res.data.count;
    },
    async changePageSize(newSize) {
      this.pageSize = newSize;
      let query = {
        size: this.pageSize,
        page: this.current
      };
      let res = await api.project.listProject(query);
      this.projectList = res.data.list;
      this.total = res.data.count;
    },
    async getProjectList(){
       let query = {
        size: this.pageSize,
        page: this.current
      };
      let res = await api.project.listProject();
      this.projectList = res.data.list;
      this.total = res.data.count;
      
    },
    toTaskList(id){
      this.$router.push({
        path:'/taskList',
        query:{
          project:id,
          label:''
        }
    })
    },
     async deleteProject(projectId) {
      let res = await api.project.deleteProject(projectId);
      if (res.status != 200) {
        this.cancel_dialog();
        return this.showPopup("操作失败:" + res.data.message,"popup-error")
      }
      this.cancel_dialog();
      this.showPopup("操作成功:" + res.data.message,"popup-success")
      this.getProjectList();
    },
    showPopup(msg, type) {
      this.popup_message = msg;
      this.popup_class = type;
      this.topPopup = true;
    }

  },
    watch: {
    topPopup(val) {
      if (val) {
        setTimeout(() => {
          this.topPopup = false;
        }, 1000);
      }
    }
  }
}

</script>