<template>
  <div class="adm-common">
    <h3 class="title">修改人员</h3>
    <div class="createtask-form createuser-form">
      <ul>
        <li>
          <label class="labelbox">用户名</label>
          <mu-text-field hintText="请输入用户名" />
        </li>
        <li>
          <label class="labelbox">E-mail</label>
          <mu-text-field hintText="请输入E-mail" />
        </li>
         <li>
          <label class="labelbox">设置密码</label>
          <mu-text-field hintText="请输入设置密码" />
        </li>
        <li>
          <label class="labelbox">确认密码</label>
          <mu-text-field hintText="请输入确认密码" />
        </li>
        <li>
          <label class="labelbox">所属部门</label>
          <mu-text-field hintText="请输入所属部门" />
        </li>

        <li>
          <label class="labelbox labelrole">角色选择</label>
          <mu-select-field hintText="选择角色选择" :maxHeight="300">
            <mu-menu-item v-for="(item, index) in roleList" :key="item" :title="item.role" :value="item.id" />
          </mu-select-field>
        </li>
        <li>
          <mu-raised-button label="确定" primary class="createtask-btn" />
        </li>
      </ul>

      <br/>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    const list = []
    for (let i = 0; i < 3; i++) {
      list.push(`管理员 ${i + 1}`)
    }
    return {
      roleList:[
        {id:1,role:"普通用户"},
        {id:2,role:"普通管理员"}
      ],

      list,
    }
  },
  computed: {

  },
  mounted() {

  },
  methods: {


  }
}

</script>