<template>
  <div class="userlist adm-common">
    <h3 class="title">人员列表</h3>
    <mu-table :showCheckbox="false">
      <mu-thead slot="header">
        <mu-tr>
          <mu-th tooltip="ID">序号</mu-th>
          <mu-th tooltip="名称">名字</mu-th>
          <mu-th tooltip="状态">Email</mu-th>
          <mu-th tooltip="状态">角色</mu-th>
          <mu-th tooltip="状态">部门</mu-th>
          <mu-th tooltip="状态">创建时间</mu-th>
          <mu-th tooltip="状态">操作</mu-th>
        </mu-tr>
      </mu-thead>
      <mu-tbody>
        <mu-tr v-for="(item,index) in userList" :key="item._id">
          <mu-td>{{index + 1}}</mu-td>
          <mu-td>{{item.name}}</mu-td>
          <mu-td>{{item.email}}</mu-td>
          <mu-td>{{item.role.name}}</mu-td>
          <mu-td>{{item.department}}</mu-td>
          <mu-td>{{item.createAt|timeFilter}}</mu-td>
          <mu-td>
            <mu-chip @click="goToCreate(item._id)" backgroundColor="#2196f3" color="#fff">
              修改
            </mu-chip>
            <mu-chip @click="open_dialog(item._id,item.name)" backgroundColor="#ff4081" color="#fff">
              删除
            </mu-chip>
            <mu-dialog :open="delete_dialog" title="删除确认" @close="cancel_dialog">
        确定删除用户:{{selectUserName}}？
        <mu-flat-button slot="actions" @click="cancel_dialog" primary label="取消" />
        <mu-flat-button slot="actions" primary @click="deleteUser(selectUserId)" label="确定" />
      </mu-dialog>
          </mu-td>
        </mu-tr>
      </mu-tbody>
    </mu-table>
    <div class="pagebox">
      <mu-pagination :total="total" :showSizeChanger="true" :current="current" :pageSizeOption="pageSizeOption"  @pageSizeChange='changePageSize' @pageChange="changePage" class="page">
      </mu-pagination>
    </div>
    <mu-popup position="top" :overlay="false" :popupClass="['popup-default',popup_class]" :open="topPopup" >
        {{popup_message}}
    </mu-popup>
  </div>
</template>

<script>
import * as api from "../../api";
export default {
  data() {
    return {
      userList: [],
      total: 100,
      current: 1,
      pageSize: 2,
      pageSizeOption: [ 5, 10, 15,20],
      topPopup: false,
      popup_message: "",
      popup_class: "",
      delete_dialog: false,
      selectUserName: "",
      selectUserId: ""
    };
  },
  computed: {},
  mounted() {
    this.getUserList();
    let msg = localStorage.getItem("msg");
    if (msg) {
      this.showPopup(msg, "popup-success");
      localStorage.removeItem("msg");
    }
  },
  methods: {
    async changePage(newPage) {
      this.current = newPage;
      let query = {
        size: this.pageSize,
        page: this.current
      };
      let res = await api.user.listUser(query);
      this.userList = res.data.list;
      this.total = res.data.count;
    },
    async changePageSize(newSize) {
      this.pageSize = newSize;
      let query = {
        size: this.pageSize,
        page: this.current
      };
      let res = await api.user.listUser(query);
      this.userList = res.data.list;
      this.total = res.data.count;
    },
    async getUserList() {
      let query = {
        size: this.pageSize,
        page: this.current
      };
      let res = await api.user.listUser(query);
      this.userList = res.data.list;
      this.total = res.data.count;
    },
    async goToCreate(userId) {
      this.$router.push({
        path: "/admin/createUser",
        query: {
          _id: userId
        }
      });
    },
    open_dialog: function(id, name) {
      this.delete_dialog = true;
      this.selectUserName = name;
      this.selectUserId = id;
    },
    cancel_dialog: function() {
      if (this.delete_dialog) return (this.delete_dialog = false);
    },
    async deleteUser(userId) {
      let res = await api.user.deleteUser(userId);
      if (res.status != 200) {
        this.cancel_dialog();
        return this.showPopup("操作失败:" + res.data.message,"popup-error")
      }
      this.cancel_dialog();
      this.showPopup("操作成功:" + res.data.message,"popup-success")
      this.getUserList();
    },
    showPopup(msg, type) {
      this.popup_message = msg;
      this.popup_class = type;
      this.topPopup = true;
    }
  },
  watch: {
    topPopup(val) {
      if (val) {
        setTimeout(() => {
          this.topPopup = false;
        }, 2000);
      }
    }
  }
};
</script>